@using Coconut.CoreLogic
@model Coconut.CoreLogic.UglyFactModel

@{
    ViewBag.Title = "Ugly Facts";
    Layout = "_Layout";
}

<h2>Ugly Facts</h2>

<h3>You have spent: @Model.SpentWeeks weeks</h3>

<h3>You will meet your creator in: @Model.CloseToCreatorWeeks weeks</h3>